/*vars*/
/*V upanju da mi tokrat različni browzerji e sf***** spet stylov dodajam knjižnico normalize*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --mainBgColor: #26281f;
    --mainTxtColor: #fcecca;
    --hoverColor: #df6437;
    --transitioni: 100ms;
}

* {
    text-decoration: none;
    color: var(--mainTxtColor);
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    background-color: var(--mainBgColor);
}

.logo {}

img {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover {
    cursor: pointer;
    -webkit-transition: 50ms;
    -moz-transition: 50ms;
    -o-transition: 50ms;
    transition: 50ms;
}

.hover:hover,
a:hover {
    color: var(--hoverColor) !important;
    -webkit-transition: var(--transitioni);
    -moz-transition: var(--transitioni);
    -o-transition: var(--transitioni);
    transition: var(--transitioni);
}

.glava,
.noga {
    letter-spacing: -0.15em;
    font-weight: 800;
    font-size: 25pt;
    line-height: 25pt;
}

.glava {
    margin: 6%;
}

.noga {
    margin-top: 12px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

p {
    letter-spacing: 0.05em;
    font-weight: 600;
    margin-left: 25px;
    margin-right: 25px;
}

.container {
    margin-top: 200px;
}

.paragraph {
    margin: 100px;
}

/*
* Dynamic classes for content altering
*/

.hidden {
    display: none !important;
}

/* ==========================================================================
  Useful classes
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
  Media Queries for Responsive Design.
   ========================================================================== */


@media only screen and (min-width: 40em) {
    img {
        width: 80%;
    }

    .glava {
        margin: 4%;
    }
}

@media only screen and (min-width: 50em) {
    img {
        width: 60%;
    }

    .paragraph {
        width: 40%;
        font-size: 15pt;
    }
}

@media only screen and (min-width: 65em) {
    h2 {
        font-size: 40pt;
    }

    img {
        width: 60%;
    }

    .paragraph {
        width: 30%;
        margin-left: 240px;
    }
}

@media only screen and (min-width: 85em) {
    img {
        width: 40%;
    }
}